/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;300;600;700&display=swap');
/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: 'Spectral', serif;
  color: white;
}

h1, h2, h3, h4 {
  font-family: 'Karla', sans-serif;
}

h1 {
  color: white;
}

h2, h3, h4 {
  color: #0f1a26;

}

a {
  text-decoration: none;
}

p {
  font-family: 'Spectral', serif;
}

.card p {
  color: #0F1A26;
}

/* Custom design below! */

.text-center {
  text-align: center;
}
